PackageName:
wrappers

TypeSuffix:
Stats

Imports:
github.com/prometheus/client_golang/prometheus

Fields:
counter *prometheus.CounterVec

Method:
{{.ReturnVarsConnected}} := {{.CallWrapped}}
{{if .ErrorPresent}}
if err != nil {
{{.ReceiverVar}}.counter.With(prometheus.Labels{"function":"{{.LowercaseFullOriginalTypeName}}.{{.LowercaseFunctionName}}","status":"error"}).Inc()
return {{.ReturnVarsConnected}}
}
{{end}}
{{.ReceiverVar}}.counter.With(prometheus.Labels{"function":"{{.LowercaseFullOriginalTypeName}}.{{.LowercaseFunctionName}}","status":"success"}).Inc()
return {{.ReturnVarsConnected}}