Imports:
github.com/prometheus/client_golang/prometheus

Fields:
counter *prometheus.CounterVec

Method:
{{.ReturnVarsConnected}} := {{.CallWrapped}}
{{if .ErrorPresent}}
if err != nil {
{{.ReceiverVar}}.counter.With(prometheus.Labels{"function":"{{.LowercaseFunctionName}}","success":"error"}).Inc()
return {{.ReturnVarsConnected}}
}
{{end}}
{{.ReceiverVar}}.counter.With(prometheus.Labels{"function":"{{.LowercaseFunctionName}}","success":"success"}).Inc()
return {{.ReturnVarsConnected}}